div.coin-chart {
    background-color: none;


}

div.coin-chart-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin: 10px 10px;
    height: 65px;
}

div.img-name-cont {
    display: flex;
    align-items: center;
}

div.img-cont {
    width: 70px;
    margin: 0 10px 0 0;
}

div.coin-price {
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

div.coin-price p {
    margin: 0;
}

img.coin-logo {
    height: 50px;
    width: auto;
}

h4 {
    margin: 0;
}